:root {
  --main-background-color: #f4b682;
  --highlight-color: #fba257;
  --highlight-font: arial, sans-serif;
  --page-background: white;
  --footer-background: #fdf5e5;
}

html, body {
    padding: 0;
    margin: 0;
    background: var(--footer-background);
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5px;
}

#body {
  background: var(--page-background);
  padding: 20px 0;
}


